<h3>Available currencies</h3>
<ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="container">
  <div class="currencies grid grid-pad" *ngIf="!isLoading">
    <a *ngFor="let item of currencies.data | currenciesPipe:{ pipeOption: pipeOption, pipeText: pipeText }" class="col-1-4"
        routerLink="/currency/{{item.id}}">
      <div class="module">
        <h4>ID:{{item.id}}</h4>
        <h4>TYPE:{{item.type}}</h4>
        <h4>SYMBOL:{{item.attributes.symbol}}</h4>
      </div>
    </a>
  </div>
  <div class="module2">
    <currencies-paginator (outputCurrencies)="onChanges($event)"></currencies-paginator>
  </div>
</div>
