<h3>Available currencies</h3>
<div class="container">
  <div class="currencies grid grid-pad">
    <a *ngFor="let item of currencies | paginate: { itemsPerPage: currenciesNumber, currentPage: p }" class="col-1-4"
        routerLink="/currency/{{item.id}}">
      <div class="module">
        <h4>ID:{{item.id}}</h4>
        <h4>TYPE:{{item.type}}</h4>
        <h4>SYMBOL:{{item.attributes.symbol}}</h4>
      </div>
    </a>
  </div>
  <div class="module2">
  <select class="selectNumber" [(ngModel)]="currenciesNumber">
      <option value="10" selected>10</option>
      <option value="20">20</option>
      <option value="50">50</option>
  </select>
  <pagination-controls class="paginate"(pageChange)="p = $event"></pagination-controls>
</div>
</div>
